@import 'https://getbootstrap.com/dist/css/bootstrap.min.css';

.custom
{
display: flex;
flex-direction: column;
align-items: center;
}
.userlist{
    display:flex;
    flex-direction:row;
    align-content: center;
    flex-wrap:wrap
}
.userlist img{
width: 75px;
height: 75px;
border-radius: 50px;

}
.tile{
    margin:5% 0 0 0;
    width: 300px;
    text-align: center;
}
.title{
    padding-left: 50px;
    color: white;
    background-color:#46d4ba;
}
