


<div>

<h1 class="title">Users ({{count}})</h1>



<div class="userlist" style="">

<div class="tile" *ngFor="let k of List" >
    <div><img [src] ="k.image?k.image:default"  alt="No Image"/></div> 
    <div>{{k.name}}</div>
</div>

</div>
<button  (click)="sort()">Sort</button>
</div>